@font-face {
    font-family: 'sbbthin';
    src: url('../fonts/sbb-thin-webfont.woff2') format('woff2'),
         url('../fonts/sbb-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'sbbthin';
    text-align: center;
    padding: 2em;
}

.balls {
    font-family: 'sbbthin';
    font-size: 1.5em;
    text-align: center;
}

.h1Back {
    border:1px solid grey;
    margin: auto;
    width: 25%;
}

form.searchBar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 30%;
    background: #f1f1f1;
  }
  
  form.searchBar button {
    width: 20%;
    padding: 10px;
    background: #f32121;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.searchBar button:hover {
    background: #da120b;
  }
  
  form.searchBar::after {
    content: "";
    clear: both;
    display: table;
  }

